body{
    background-image: url("https://images.unsplash.com/photo-1482517967863-00e15c9b44be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F8C998;
}

h1{
    font-size: 60px;
    color: #fad9bd;
    font-family: 'Crimson Text', serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
      
}

.header{
    display: flex;
    justify-content: center;
}

h4{
    text-transform: uppercase;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.christmas{
    background-color: #f8ca98a8;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid #FAD9BD;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
}

.days{
    font-family: 'Crimson Text', serif;
    font-size: 40px;
}

.red{
    font-size: 60px;
    font-family: 'Crimson Text', serif;
    border: none;
    color: #52292D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FAD9BD;
}

button{
    margin-left: 100px;
    border: none;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
    transition: 0.5s all ease;
}

.christmas:hover{
    background-color: #F8C998;
    border: 2px solid #52292D;
}

@media all and(max-width:800px){
    h1{
        font-size: 30px;
    }
}

@media all and(max-width:500px){
    h1{
        font-size: 20px;
    }
}